article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:13px;line-height:1.231;background-color:#ffffff;}
body,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#363636;}
::-moz-selection{background:#8cb851;color:#fff;text-shadow:none;}
::selection{background:#8cb851;color:#fff;text-shadow:none;}
a{color:#366795;}
a:visited{color:#546677;}
a:hover{color:#8cb851;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, monospace;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
table button,table input{*overflow:auto;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
h1{font-family:'Droid Serif',serif;font-size:32px;font-weight:normal;letter-spacing:-1px;color:#363636;margin:0.2em 0 0.5em;}
h2{font-family:'Droid Serif',serif;font-size:24px;font-weight:bold;color:#363636;}
h3{font-family:'Droid Serif',serif;font-size:18px;font-weight:normal;color:#363636;}
h4{font-family:'Droid Serif',serif;font-size:18px;font-weight:normal;color:#363636;text-transform:uppercase;margin:1.5em 0 0.5em;}
h6{font-size:16px;margin:0;}
.special_link{text-decoration:none;color:#8dadc3;font-size:16px;}
.strong{font-weight:bold;}
.left{float:left;}
.right{float:right;}
.hide{display:none;}
.invisible{visbility:hidden;}
.horoizontal_clip{overflow-x:hidden;}
.auto_fit_width{width:100%;}
.box{background-color:#ebf0f4;border:1px solid #bfd1dd;margin:10px;padding:10px;box-shadow:0 0 5px #cfcfcf;}
.green_button{background:url("../img/green-button-bg.png") no-repeat scroll 0 0 transparent;float:left;font-weight:bold;line-height:38px;margin-bottom:50px;padding:1px 0 3px 30px;text-transform:uppercase;margin:10px 0;overflow:visible;position:relative;color:#3b5020;cursor:pointer;}.green_button .end{position:absolute;width:30px;height:42px;right:-30px;top:0;background:url("../img/green-button-bg.png") no-repeat scroll right 0 transparent;}
.form .label,.form .field{font-size:14px;line-height:40px;}
.form .label{text-align:right;color:#838383;font-weight:300;font-size:16px;}
.form .field_wrap{border:1px solid #d0dde6;padding:2px 5px;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;background-color:#ffffff;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));background-image:-webkit-linear-gradient(top, #ffffff, #f0f0f0);background-image:-moz-linear-gradient(top, #ffffff, #f0f0f0);background-image:-ms-linear-gradient(top, #ffffff, #f0f0f0);background-image:-o-linear-gradient(top, #ffffff, #f0f0f0);background-image:linear-gradient(top, #ffffff, #f0f0f0);line-height:30px;}
.form input[type="text"],.form input[type="password"],.form textarea{border:none;width:100%;font-size:14px;background-color:transparent;}
.form textarea{margin-top:7px;}
body .ui-dialog .ui-dialog-title{font-family:'Droid Serif',serif;font-size:16px;font-weight:normal;letter-spacing:-1px;}
#page_header{background-color:#d0dde6;border-bottom:1px solid #8dadc3;}#page_header hgroup{height:100px;overflow:hidden;}#page_header hgroup img{float:left;margin-top:10px;margin-left:10px;}
#page_header nav ul{float:right;margin-top:37px;font-family:'Droid Serif',serif;font-size:14px;}#page_header nav ul li{float:left;margin:0 5px;text-shadow:0 1px 1px #ffffff;font-weight:bold;}#page_header nav ul li a{color:#363636;text-decoration:none;padding:5px 10px;}
#page_header nav ul li a:hover{color:#363636;border-radius:3px;background-color:#afc5d4;box-shadow:0 0 3px #6c95b1 inset;}
#page_header nav ul .selected a{border-radius:3px;background-color:#8cb851;color:#ffffff;box-shadow:0 0 3px #72983e inset;text-shadow:none;}
#home_page_banner{border-top:1px solid #afc5d4;border-bottom:1px solid #afc5d4;min-height:250px;background-color:#366795;background-image:-webkit-gradient(linear, left top, left bottom, from(#366795), to(#2f5a82));background-image:-webkit-linear-gradient(top, #366795, #2f5a82);background-image:-moz-linear-gradient(top, #366795, #2f5a82);background-image:-ms-linear-gradient(top, #366795, #2f5a82);background-image:-o-linear-gradient(top, #366795, #2f5a82);background-image:linear-gradient(top, #366795, #2f5a82);}#home_page_banner .content{min-height:250px;background:url("../img/banner-gradient.png") no-repeat scroll center top transparent;}#home_page_banner .content .big_text{float:right;font-family:'Droid Serif',serif;width:46%;color:#d0dde6;padding:3% 2%;font-size:24px;font-weight:bold;text-shadow:1px 1px 1px #363636;}
#home_page_banner #slidedeck_frame{width:901px;height:300px;margin:10px 0;}#home_page_banner #slidedeck_frame .img_bg{position:absolute;top:0;left:0;}
#home_page_banner #slidedeck_frame ul{left:50%;margin:0;padding:0;position:absolute;top:275px;z-index:1;list-style-position:inside;}#home_page_banner #slidedeck_frame ul li{float:left;margin:0 5px;font-size:24px;cursor:pointer;}
#home_page_banner #slidedeck_frame ul li:hover,#home_page_banner #slidedeck_frame ul li.selected{color:#8cb851;}
#home_page_primary_content{border-top:1px solid #8dadc3;border-bottom:1px solid #afc5d4;padding-bottom:20px;}#home_page_primary_content .content{font-size:14px;margin-top:20px;color:#838383;line-height:1.4em;}#home_page_primary_content .content h2{color:#363636;}
#home_page_primary_content .content .green_button{margin-top:20px;}
#home_page_marketing{background-color:#363636;margin-top:20px;box-shadow:0 0 10px #292929 inset;text-align:center;font-family:'Droid Serif',serif;color:#838383;font-size:18px;padding:30px 10px;width:200px;}
#page_footer{padding:30px 0 20px;border-top:1px solid #f1f5f8;background:url("../img/vertical-shadow.png") repeat-x scroll 0 0 #d0dde6;}#page_footer #contact_us{line-height:1.5em;text-shadow:0 1px 0 #ffffff;font-size:13px;color:#696969;}#page_footer #contact_us .mail{line-height:1.7em;font-size:14px;}
#page_footer #social_links ul{float:right;list-style:none;}#page_footer #social_links ul li{float:left;margin-left:10px;}#page_footer #social_links ul li a{font-size:0;float:left;height:32px;width:32px;}
#page_footer #social_links ul li .mail{background:url("../img/icon-mail.png") no-repeat scroll 0 0 transparent;}
#page_footer #social_links ul li .facebook{background:url("../img/icon-facebook.png") no-repeat scroll 0 0 transparent;}
#page_footer #social_links ul li .twitter{background:url("../img/icon-twitter.png") no-repeat scroll 0 0 transparent;}
.vertical_tab_list{margin-top:10px;margin-bottom:10px;}.vertical_tab_list h2{margin:0;padding:20px 0 15px 10px;font-size:16px;text-transform:uppercase;}
.vertical_tab_list ul{list-style:none;margin:0;padding:0;}.vertical_tab_list ul li{width:258px;margin:0;padding:5px 10px;height:55px;background:url("../img/program-item-bg.jpg") repeat-x scroll 0 0 transparent;overflow:hidden;border:1px solid #f4f4f4;cursor:pointer;}.vertical_tab_list ul li h3{color:#767676;margin:0;}
.vertical_tab_list ul li span{font-size:11px;color:#bdbdbd;font-style:italic;}
.vertical_tab_list ul .selected{background:url("../img/program-item-selected-bg.jpg") no-repeat scroll 0 0 transparent;border:medium none;width:280px;}.vertical_tab_list ul .selected h3{color:#ffffff;}
.vertical_tab_list .top_shadow{line-height:17px;background:url("../img/program-list-shadow-top.jpg") no-repeat scroll center right transparent;}
.vertical_tab_list .bottom_shadow{line-height:18px;background:url("../img/program-list-shadow-bottom.jpg") no-repeat scroll center right transparent;}
#program_details{width:618px;}#program_details .banner{height:250px;overflow:hidden;}#program_details .banner .program_image{width:183px;}
#program_details .banner .content{float:right;padding-left:10px;height:250px;font-size:14px;color:#838383;}#program_details .banner .content h1{margin:5px 0 5px;}
#program_details .banner .content .green_button{float:right;margin-right:30px;}
#program_details .more_information{font-size:14px;color:#838383;}
#the_team_page #the_team{width:618px;}#the_team_page #the_team .profile{margin-top:10px;padding-top:20px;border-top:1px solid #bfd1dd;}
#the_team_page #the_team .profile:first-child{border:none;margin:0;padding:0;}
#the_team_page #the_team .picture{margin-right:10px;width:138px;}#the_team_page #the_team .picture img{width:100%;}
#the_team_page #the_team .more_info{width:470px;}
#the_team_page #the_team .profile_name{background-color:#8cb851;font-family:'Droid Serif',serif;font-size:24px;color:#ffffff;padding-left:10px;line-height:1.5em;letter-spacing:-1px;text-shadow:1px 1px 0 #648637;}
#the_team_page #the_team .designation{color:#648637;font-family:'Droid Serif',serif;font-size:14px;text-transform:uppercase;margin:5px 0 5px 10px;}
#the_team_page #the_team .bio{color:#838383;padding-left:10px;text-align:justify;}
#what_is_zastra{width:918px;}#what_is_zastra h1{margin:0.5em 0 1.5em;text-align:center;text-shadow:0 0 2px #505050;}#what_is_zastra h1 .small{font-size:0.6em;font-style:italic;text-shadow:0 -1px 0 #9eb9cb;color:#afc5d4;}
#contact_us_dialog_content{background:url("../img/contact-us-person.jpg") no-repeat scroll 30px bottom transparent;}#contact_us_dialog_content .help_text{padding:10px 0 20px;color:#b6b6b6;font-style:italic;font-size:12px;}
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media only screen and (min-width: 480px){}@media only screen and (min-width: 768px){}@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
